@{
    ViewBag.Title = "Contact Sound Mind";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1245 UHelpingU Way<br />
    Milwaukee, WI 53211<br />
    <abbr title="Phone">P:</abbr>
    414.324.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:goldenruel@hotmail.com">goldenruel@hotmail.com</a>
</address>