@{
    ViewBag.Title = "Home Page";
}
<h2 align="center"><b>Sound Mind</b></h2>
<div class="row" style="padding-top:50px">
    <div class="col-md-4">
        <h2 style="color:black">
            Daily Mood tracker
        </h2>
        <p style="color:black">Keep track of your daily mood and important events.</p>
        <p><a class="btn btn-default" href="http://localhost:3811/DailyMoodTracker/Create">Track your daily mood &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Medication alert</h2>
        <p style="color:black">Always remember to take your meds.</p>
        <p><a class="btn btn-default" href="http://localhost:3811/MedAlarm/Index">Set alarm here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Emergency contact</h2>
        <p style="color:black">Contact someone if you are having an emergency.</p>
        <p><a class="btn btn-default" href="http://localhost:3811/EmergencyText.aspx">Send text here &raquo;</a></p>
    </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Music re-new</h2>
            <p style="color:black">
                Find and listen to any song of your choice
            </p>
            <p><a class="btn btn-default" href="http://localhost:3811/Music/Index">Start music here &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Drawing re-focus</h2>
            <p style="color:black">Focus on drawing whenever you want to.</p>
            <p><a class="btn btn-default" href="http://localhost:3811/ColoringPage/Index">Start drawing here &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Relax re-juvenate</h2>
            <p style="color:black">Help yourself relax.</p>
            <p><a class="btn btn-default" href="http://localhost:3811/Relax/Index">Start relaxing here &raquo;</a></p>
        </div>
    </div>
