@model SoundMind.Models.Relax

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Breathing Techniques</h2>
<img src="~/Content/images/Photo3.jpg" />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
