@model IEnumerable<SoundMind.Models.MedAlarm>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Medication Alarm</h2>



<script>window.open('http://localhost:3811/MedAlarm/Create');</script>